Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

.azure-pipelines/london_taxi_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_batch_deployment: ${{ parameters.is_batch_deployment }}

.azure-pipelines/nyc_taxi_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_batch_deployment: ${{ parameters.is_batch_deployment }}

fix env location
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

resource and workspace have been added
  .github/workflows/nyc_taxi_pr_pipeline.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

build id propagation
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

move build validation into templates
  .github/actions/build_validation_workflow/action.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

return build validation back
  .github/workflows/build_validation_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

removed redudndant stuff
  .github/workflows/nyc_taxi_ci_pipeline.yml
Due: none

updated nyc_taxi_pr_pipeline.yml to execute on pull request,
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/nyc_taxi_pr_pipeline.yml
  .github/workflows/platform_ci_pipeline.yml
  .github/workflows/platform_pr_workflow.yml
Due: none

removed dev prefix
  .github/workflows/nyc_taxi_pr_pipeline.yml
Due: none

Added london_taxi pipelines
  .github/workflows/london_taxi_ci_pipeline.yml
  .github/workflows/london_taxi_pr_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/platform_pr_workflow.yml
Due: none

yaml files had been cleaned
  .azure-pipelines/london_taxi_ci_pipeline.yml
  .azure-pipelines/nyc_taxi_ci_pipeline.yml
  .azure-pipelines/register_data_assets.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/execute_mlops_pipeline.yml
  .azure-pipelines/templates/experiment_variables.yml
  .azure-pipelines/templates/get_connection_details.yml
  .azure-pipelines/templates/model_deployment.yml
  .azure-pipelines/templates/platform_ci_pipeline.yml
  .azure-pipelines/templates/platform_pr_pipeline.yml
  .azure-pipelines/templates/test_batch_deployment.yml
  .azure-pipelines/templates/variables_template.yml
  mlops/common/deployment/provision_batch_deployment.py
  mlops/common/deployment/provision_batch_endpoint.py
  mlops/common/deployment/provision_online_deployment.py
  mlops/common/deployment/provision_online_endpoint.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

prep to ci code fix
  config/config.yaml
  config/model_config.json
  config/obs.infra_config.json
  mlops/common/deployment/provision_batch_deployment.py
  mlops/common/deployment/provision_batch_endpoint.py
  mlops/common/deployment/provision_online_deployment.py
  mlops/common/deployment/provision_online_endpoint.py
  mlops/common/deployment/run_test_batch_deployment.py
  mlops/common/deployment/run_test_model_on_aml.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

naming has been introduced
  config/config.yaml
  mlops/common/naming_utils.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

test pr
  setup.cfg
Due: none

ci pipeline fix
  .azure-pipelines/templates/model_deployment.yml
  .azure-pipelines/templates/platform_ci_pipeline.yml
  .azure-pipelines/templates/test_batch_deployment.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fic ci variables
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix indent
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix naming
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

endpoint provisioning - done
  config/config.yaml
  mlops/common/config_utils.py
  mlops/common/deployment/provision_batch_endpoint.py
  mlops/common/deployment/provision_online_endpoint.py
  setup.cfg
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

deployment and test fix
  config/config.yaml
  mlops/common/config_utils.py
  mlops/common/deployment/provision_batch_deployment.py
  mlops/common/deployment/provision_batch_endpoint.py
  mlops/common/deployment/provision_online_deployment.py
  mlops/common/deployment/provision_online_endpoint.py
  mlops/common/deployment/run_test_batch_deployment.py
  mlops/common/deployment/run_test_model_on_aml.py
  mlops/common/get_environment.py
  mlops/common/get_run_metadata.py
  mlops/common/register_data_asset.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
  model/london_taxi/scoring/score.py
  src/london_src/prep/prep.py
  src/nyc_src/prep/prep.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

removed not needed files
  config/data_config.json
  mlops/london_taxi/configs/deployment/batch_config.json
  mlops/london_taxi/configs/deployment/realtime_config.json
  mlops/nyc_taxi/configs/data_config.json
  mlops/nyc_taxi/configs/deployment/batch_config.json
  mlops/nyc_taxi/configs/deployment/realtime_config.json
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix run_is notation
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix parameter name
  mlops/common/deployment/provision_batch_deployment.py
  mlops/common/deployment/provision_batch_endpoint.py
  mlops/common/deployment/provision_online_deployment.py
  mlops/common/deployment/provision_online_endpoint.py
  mlops/common/deployment/run_test_batch_deployment.py
  mlops/common/deployment/run_test_model_on_aml.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix image name in config
  config/config.yaml
  mlops/common/deployment/provision_batch_deployment.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix conda
  mlops/london_taxi/environment/conda.yml
  mlops/nyc_taxi/environment/conda.yml
  model/london_taxi/dockerfile
  model/london_taxi/environment/conda.yml
  model/london_taxi/environment/requirements.txt
  model/london_taxi/pipeline-requirements.txt
  model/nyc_taxi/dockerfile
  model/nyc_taxi/environment/conda.yml
  model/nyc_taxi/environment/requirements.txt
  model/nyc_taxi/pipeline-requirements.txt
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

downgrade Werkzeug
  model/london_taxi/environment/conda.yml
  model/nyc_taxi/environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

data pipeline setup initially
  .azure-pipelines/nyc_taxi_data_pipeline.yml
  mlops/common/register_data_asset.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

remove run id from test
  mlops/common/deployment/run_test_batch_deployment.py
  mlops/common/deployment/run_test_model_on_aml.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

amlignore has been introduced
  .amlignore
Due: none

approval step
  .azure-pipelines/templates/platform_ci_pipeline.yml
  mlops/common/deployment/approve_model.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

coding styles improvement
  mlops/common/deployment/provision_batch_deployment.py
  mlops/common/deployment/provision_batch_endpoint.py
  mlops/common/deployment/provision_online_deployment.py
  mlops/common/deployment/provision_online_endpoint.py
  mlops/common/deployment/run_test_batch_deployment.py
  mlops/common/deployment/run_test_model_on_aml.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

remove broken env variable
  model/london_taxi/scoring/score.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml

fix approve stage
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix name
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix stage name
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

better display name
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

agent configuration step has been added
  .azure-pipelines/templates/platform_ci_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

library to support mlflow in AzureML
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

Removed ci pipelines,added export secrets for platform_pr_workflow.yml
  .github/workflows/london_taxi_ci_pipeline.yml
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/platform_pr_workflow.yml
Due: none

batch scoring implementation
  config/config.yaml
  mlops/common/deployment/provision_batch_deployment.py
  model/london_taxi/batch/score.py
  model/london_taxi/online/score.py
  model/nyc_taxi/batch/score.py
  model/nyc_taxi/online/score.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml

fix online location
  config/config.yaml
Due: none

Path conditions:
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
