Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

.azure-pipelines/london_taxi_ci_dev_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/london_taxi/*
      - src/london_src/*
      - model/london_taxi/*
      - src/shared/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "london_taxi"
 - name: is_batch_deployment
   displayName: "True for batch endpoint and False for real-time endpoint"

stages:
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_batch_deployment: ${{ parameters.is_batch_deployment }}

.azure-pipelines/nyc_taxi_ci_pipeline.yml:

pr: none
trigger:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/nyc_taxi/*
      - src/nyc_src/*
      - model/nyc_taxi/*
      - src/shared/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "nyc_taxi"
 - name: is_batch_deployment
   displayName: "True for batch endpoint and False for real-time endpoint"

stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_batch_deployment: ${{ parameters.is_batch_deployment }}

.azure-pipelines/nyc_taxi_data_pipeline.yml:

trigger: none
pr:
  branches:
   include:
     - development
  paths:
    include:
      - .azure-pipelines/*
      - mlops/common/*
      - mlops/nyc_taxi/*
      - src/nyc_src/*
      - model/nyc_taxi/*
      - src/shared/*

pool:
  vmImage: ubuntu-latest


variables:
- group: mlops_platform_dev_vg
- name: DATA_CONFIG_PATH
  value: 'mlops/nyc_taxi/configs/data_config.json' 

parameters:
 - name: env_name
   displayName: "Execution Environment"
   default: "dev"
 - name: model_type
   displayName: "model type"
   default: "nyc_taxi"

stages:
    - stage: register_data
      displayName: register_data
      variables:
      - template: templates/experiment_variables.yml
      jobs:
      - job: Execute_data_registration_Pipeline
        steps:         
        - template: templates/get_connection_details.yml
        - template: templates/configure_azureml_agent.yml
        - template: templates/register_data_asset.yml
          parameters:
            step_name: "register training data"
            script_parameter: |
              python -m mlops.common.register_data_asset \
                --subscription_id "$(SUBSCRIPTION_ID)" \
                --resource_group_name  "$(RESOURCE_GROUP_NAME)" \
                --workspace_name "$(WORKSPACE_NAME)" \
                --data_purpose "training_data" \
                --data_config_path "$(DATA_CONFIG_PATH)" \
                --environment_name "${{ parameters.env_name }}" \
                --api_version "2024-03-01"

fix description field
  config/config.yaml
Due: none

Update london_taxi_pr_pipeline.yml
  .azure-pipelines/london_taxi_pr_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

fix config
  config/config.yaml
  mlops/common/deployment/provision_batch_deployment.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

wrong property
  mlops/common/deployment/provision_batch_deployment.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Update docs, fix bug in provision_batch
  docs/how_to_setup.md
  mlops/common/deployment/provision_batch_deployment.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

should be compute name
  mlops/common/deployment/provision_batch_deployment.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

updated environment
  model/london_taxi/environment/conda.yml
  model/nyc_taxi/environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

separate environment files
  config/config.yaml
  model/london_taxi/batch_environment/conda.yml
  model/london_taxi/online_environment/conda.yml
  model/nyc_taxi/batch_environment/conda.yml
  model/nyc_taxi/online_environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

batch doesn't support 3.12
  model/london_taxi/batch_environment/conda.yml
  model/nyc_taxi/batch_environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Added ci pipeline
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
Due: none

better data locations
  config/config.yaml
  config/data_config.json
  model/london_taxi/batch_test_data/london_taxi.csv
  model/london_taxi/online_test_data/sample-request.json
  model/nyc_taxi/batch_test_data/nyc_taxi.csv
  model/nyc_taxi/online_test_data/sample-request.json
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

test scoring
  model/nyc_taxi/batch/score.py
Due: .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

linting
  mlops/common/deployment/provision_batch_deployment.py
  model/london_taxi/batch/score.py
  model/nyc_taxi/batch/score.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

latest updates to documentation
  docs/how_to_setup.md
Due: none

Update variable group from which to pull variables at runtime
  .azure-pipelines/infra/bicep/infra_provision_bicep_pipeline.yml
  .azure-pipelines/infra/terraform/infra_provision_terraform_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

fix processing and data config
  config/data_config.json
  model/london_taxi/batch/score.py
  model/nyc_taxi/batch/score.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

not needed spaces
  model/london_taxi/online_environment/conda.yml
  model/nyc_taxi/online_environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

testing ci
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
Due: none

removed generate vars
  .github/workflows/platform_ci_workflow.yml
Due: none

testing ci
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/platform_pr_workflow.yml
Due: none

ci pipeline debug
  .github/workflows/platform_ci_workflow.yml
Due: none

added input parameters ci
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
Due: none

add devcontainer
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
Due: none

Add missing variable, subscription_id
  docs/how_to_setup.md
Due: none

Fix spacing of variables
  docs/how_to_setup.md
Due: none

add local container run
  .devcontainer/Dockerfile
  .env.sample
  README.md
  mlops/london_taxi/environment/conda.yml
  mlops/nyc_taxi/environment/conda.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update readme;
  .devcontainer/README.md
Due: none

update readme
  .devcontainer/README.md
Due: none

add libraries for flake and tests
  .devcontainer/requirements.txt
Due: none

update
  README.md
Due: none

few fixes to the document
  README.md
Due: none

Added online deployment
  .github/workflows/platform_ci_workflow.yml
Due: none

updated online deployment step ci
  .github/workflows/platform_ci_workflow.yml
Due: none

corrected white space
  .github/workflows/platform_ci_workflow.yml
Due: none

debug ci
  .github/workflows/platform_ci_workflow.yml
Due: none

added deploy-batch to ci
  .github/workflows/platform_ci_workflow.yml
Due: none

fix config bug for nyc_taxi_batch_dev specified missing 'endpoint_desc'
  .github/workflows/platform_ci_workflow.yml
  config/config.yaml
Due: none

reverse
  .azure-pipelines/templates/build_validation_pipeline.yml
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

data registration updates
  mlops/common/register_data_asset.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml
